.container-fluid{
    h2{
        color: white;
    }
    button {
        color: #fff;
        border-color: #fff;
    }
    button:hover {
        color: rgb(4, 153, 108);
        background-color: white;
        border-color: white;
    }
}
    